.header-dark {
    color: black;
    background-color: white;
}
.header-dark a h1 h2 h3 h4 p li {
    color: black;
    background-color: white;
}
.header-dark .header-nav-link {
    color: black;
}
.header-dark .header-search-input {
    min-height: 30px;
    font-size: inherit;
    color: black;
    background-color: white;
}
.header-dark .header-search-input {
    color: #000000;
    background-color: #E7E9E8;
}
svg:not(:root) {
    filter: invert(100%);
}
